body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #1a1a2e; */
    background-image: url("fondo1.png");
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.imagen {
    width: 90%;
    height: 90%;
}

/* Contenedor de la tarjeta */
.card {
    /* background: linear-gradient(135deg, #9a1703, #2e8841);*/
    background: linear-gradient(135deg, #03689a, #b8c0ce);
    /* background-color: rgb(16, 64, 0);*/
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0px 25px rgba(255, 251, 251, 0.316);
    text-align: center;
    color: white;
    position: relative;
    z-index: 10; 
    max-width: 400px;
    border: 6px groove #d32424; 
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ac1005;
    color: #ffffff;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: transform 0.3s;
}





/* El fondo oscuro que cubre toda la pantalla */
.modal {
    display: none; /* Esto la mantiene oculta al inicio */
    position: fixed; /*posicion : fija*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7); /* Fondo negro semitransparente */
}

.caramelo{
/* Posicionamiento para centrar */
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    
    width: 80%;
    max-width: 400px;
    
    /* PATRÓN CARAMELO*/
    background: repeating-linear-gradient(
        45deg,
        #d9534f,        /* Rojo */
        #d9534f 10px,   /* Grosor rojo */
        #ffffff 10px,   /* Inicio blanco */
        #ffffff 20px    /* Final blanco */
    );
    
    /* El padding aquí define qué tan GRUESO se ve el borde rayado */
    padding: 15px; 
    
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    
    /* Animación */
    animation: zoomIn 0.5s;
}

/* La tarjeta blanca pequeña */
.modal-contenido {
background-color: #fefefe; /* Color blanco sólido */
    width: 100%;               /* Llena todo el ancho disponible */
    height: 100%;              /* Llena toda la altura */
    border-radius: 15px;       /* Un poco menos radio que la caja de rayas */
    
    /* Espacio interno para que el texto no pegue a los bordes blancos */
    padding: 20px;             
    box-sizing: border-box;    /* Asegura que el padding no deforme la caja */
    text-align: center;
    color: #333;
}


/* Animación simple para que entre suave */
@keyframes zoomIn {
    from {
        transform: translate(-50%, -50%) scale(0); /* Empieza centrada y diminuta */
    } 
    to {
        transform: translate(-50%, -50%) scale(1); /* Termina centrada y tamaño normal */
    }
}